In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [22]:
data = pd.read_csv('/content/train.csv')

In [23]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
Y = data['label']
X = data.drop('label', axis= 1)
X = np.array(X)
Y = np.array(Y)

In [25]:
train_x, test_x, train_y, test_y = train_test_split(X, Y, shuffle= True,test_size= 0.2)

In [26]:
type(train_x)

numpy.ndarray

In [27]:
train_x = (train_x / 255.) #RGB

In [28]:
type(train_x)

numpy.ndarray

In [29]:
m, n = train_x.shape

In [30]:
train_y

array([2, 3, 6, ..., 9, 8, 7])

In [31]:
def init_params(input_n, middle_n, output_n, classes_n= 10):
    W1 = np.random.rand(middle_n, input_n) * 0.01
    b1 = np.zeros((middle_n, 1))
    
    W2 = np.random.rand(output_n, middle_n) * 0.01
    b2 = np.zeros((output_n, 1))
    
    W3 = np.random.rand(classes_n, output_n) * 0.01
    b3 = np.zeros((classes_n, 1))
    return W1, b1, W2, b2, W3, b3

In [32]:
def ReLU(Z, der= False):
    if der == False:
        return np.maximum(Z, 0)
    else:
        return Z > 0

In [33]:
def sigmoid(Z, der= False): 
    if der == False:
        return (1/(1 + np.exp(-Z)))
    else:
        return (1 - sigmoid(Z))

In [34]:
def softmax(Z): 
        return (np.exp(Z) / sum(np.exp(Z)))

In [35]:
def forward_prop(W1, b1, W2, b2, W3, b3, X):
    # node 1
    Z1 = np.dot(W1, X) + b1
    A1 = sigmoid(Z1)
    
    # node 2
    Z2 = np.dot(W2, A1) + b2
    A2 = sigmoid(Z2)
    
    # node 3
    Z3 = np.dot(W3, A2) + b3
    A3 = softmax(Z3)
    
    return Z1, A1, Z2, A2, Z3, A3

In [36]:
def one_hot(Y):
    one_hot_Y = np.zeros((Y.size, Y.max() + 1))
    one_hot_Y[np.arange(Y.size), Y] = 1
    one_hot_Y = one_hot_Y.T
    return one_hot_Y

In [37]:
def backward_prop(Z1, A1, Z2, A2, Z3, A3, W1, W2, W3, X, Y):
    one_hot_Y = one_hot(Y)
    
    dZ3 = A3 - one_hot_Y
    dW3 = 1 / m * np.dot(dZ3, A2.T)
    db3 = 1 / m * np.sum(dZ3, axis= 1, keepdims= True)
    
    dZ2 = np.dot(W3.T, dZ3) * sigmoid(Z2, True)
    dW2 = 1 / m * np.dot(dZ2, A1.T)
    db2 = 1 / m * np.sum(dZ2, axis= 1, keepdims= True)
    
    dZ1 = np.dot(W2.T, dZ2) * sigmoid(Z1, True)
    dW1 = 1 / m * np.dot(dZ1, X.T)
    db1 = 1 / m * np.sum(dZ1, axis= 1, keepdims= True)

    return dW1, db1, dW2, db2, dW3, db3

In [38]:
def update_params(W1, b1, W2, b2, W3, b3, dW1, db1, dW2, db2, dW3, db3, alpha):
    
    W1 = W1 - alpha * dW1
    b1 = b1 - alpha * db1
    
    W2 = W2 - alpha * dW2  
    b2 = b2 - alpha * db2
    
    W3 = W3 - alpha * dW3  
    b3 = b3 - alpha * db3
    
    return W1, b1, W2, b2, W3, b3

In [39]:
def get_predictions(A3):
    return np.argmax(A3, 0)

In [40]:
def get_accuracy(predictions, Y):
    print(predictions, Y)
    return (np.sum(predictions == Y) / Y.size)

In [61]:
def gradient_descent(X, Y, alpha, iterations):
    W1, b1, W2, b2, W3, b3 = init_params(train_x.T.shape[0], 100, 10)
    for i in range(iterations):
        Z1, A1, Z2, A2, Z3, A3 = forward_prop(W1, b1, W2, b2, W3, b3, X)
        dW1, db1, dW2, db2, dW3, db3 = backward_prop(Z1, A1, Z2, A2, Z3, A3, W1, W2, W3, X, Y)
        W1, b1, W2, b2, W3, b3 = update_params(W1, b1, W2, b2, W3, b3, dW1, db1, dW2, db2, dW3, db3, alpha)
        if i % 10 == 0:
            print("Iteration: ", i)
            predictions = get_predictions(A2)
            print(get_accuracy(predictions, Y))
    return W1, b1, W2, b2, W3, b3

In [62]:
W1, b1, W2, b2, W3, b3 = gradient_descent(train_x.T, train_y, 0.10, 300)

Iteration:  0
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  10
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  20
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  30
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  40
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  50
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  60
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  70
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  80
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  90
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  100
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  110
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  120
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  130
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11094943615860313
Iteration:  140
[1 1 1 ... 1 1 1] [2 3 6 ... 9 8 7]
0.11822480902146235
Iteration:  150
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.08366678792288104
Iteration:  160
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  170
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  180
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  190
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  200
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  210
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  220
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  230
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  240
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  250
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  260
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  270
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  280
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987
Iteration:  290
[3 3 3 ... 3 3 3] [2 3 6 ... 9 8 7]
0.09457984721716987

In [63]:
def make_predictions(X, W1, b1, W2, b2, W3, b3):
    _, _, _, _, _, A3 = forward_prop(W1, b1, W2, b2, W3, b3, X)
    predictions = get_predictions(A3)
    return predictions

In [64]:
def test_prediction(index, W1, b1, W2, b2, W3, b3):
    current_image = train_x[index,:, None].T
    print(current_image.shape)
    prediction = make_predictions(train_x[index,:, None], W1, b1, W2, b2, W3, b3)
    label = train_y[index]
    print("Prediction: ", prediction)
    print("Label: ", label)
    current_image = current_image.reshape((28, 28)) * 255
    plt.gray()
    plt.imshow(current_image, interpolation='nearest')
    plt.show()

In [65]:
def F1_score(y,y_hat):
    tp,tn,fp,fn = 0,0,0,0
    for i in range(len(y)):
        if y[i] == 1 and y_hat[i] == 1:
            tp += 1
        elif y[i] == 1 and y_hat[i] == 0:
            fn += 1
        elif y[i] == 0 and y_hat[i] == 1:
            fp += 1
        elif y[i] == 0 and y_hat[i] == 0:
            tn += 1
    precision = tp/(tp+fp)
    recall = tp/(tp+fn)
    f1_score = 2*precision*recall/(precision+recall)
    return f1_score,precision,recall

In [69]:
y_hat = make_predictions(test_x.T, W1, b1, W2, b2, W3, b3)
print('Accuracy is ', get_accuracy(y_hat, test_y))

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1] [3 4 1 5 2 3 9 5 3 3 2 4 3 5 0 1 0 8 8 9 6 0 2 3 4 2 1 5 5 4 6 5 3 9 9 4 1
 2 2 0 1 4 4 2 4 1 0 1 0 7 5 9 1 0 4 8 4 0 5 9 2 4 4 5 8 5 4 9 2 7 4 6 9 9
 2 8 1 1 7 4 9 9 4 3 6 1 6 3 0 3 9 7 5 4 0 7 6 8 5 3 6 7 6 6 5 1 2 2 5 7 9
 2 9 3 0 7 0 7 3 2 9 4 4 1 7 1 4 9 1 4 9 9 9 5 1 6 2 2 4 0 5 8 9 3 0 0 0 3
 0 9 0 5 0 8 0 6 7 2 1 3 9 0 0 1 8 2 9 9 9 1 2 7 4 6 1 7 1 6 7 2 5 1 8 4 1
 4 8 9 4 6 2 6 6 9 3 8 2 7 3 5 0 5 8 9 0 2 1 7 5 5 4 2 9 2 7 2 1 9 8 5 9 5
 1 8 6 4 8 7 2 6 6 5 2 7 8 6 3 6 4 9 3 8 3 1 4 1 7 6 0 7 9 7 4 7 5 6 4 7 7
 8 9 1 1 1 0 5 7 6 2 8 0 4 1 2 5 2 6 2 2 6 2 0 7 6 5 7 6 5 2 6 4 8 1 8 0 5
 6 8 0 5 4 8 3 4 8 3 3 0 4 3 6 8 4 9 5 0 1 2 5 7 1 2 2 8 9 8 7 1 3 4 9 3 0
 4 2 9 1 5 7 0 2 9 7 7 1 9 5 7 5 8 8 5 2 5 4 0 8 6 4 4 2 7 5 9 7 5 5 7 3 9
 7 8 6 0 7 8 5 6 1 1 2 3 8 3 0 8 2 9 3 7 5 7 0 4 2 0 8 7 3 1 6 3 2 8 4 0 2
 3 6 6 1 5 3 7 2 6 6 1 2 9 2 2 9 1 2 2 5 2 6 3 8 6 8 6 8 2 5 6 9 7 7 8 7 2
 5 6 7 8 7 7 8 4 2 2 8 2 2 1 6 6 5 4 7 3 8 0 5 8 4 2 6 6 5 6 0 1 4 6 6 1 5
 3 1 6 9 0 4 7 6 6 5 0 2 9 6 0 3 8 7 0 0 9 2 6 5 2 7 2 2 1 6 2 7 9 3 5 9 7
 7 9 8 3 3 3 1 5 1 2 5 1 2 2 1 7 1 1 1 6 0 5 8 9 7 3 4 6 1 0 0 5 3 3 1 7 4
 0 7 5 9 8 6 3 0 5 7 0 0 6 8 0 3 9 0 5 9 7 0 1 3 1 2 9 9 4 7 4 0 6 1 6 8 6
 5 6 8 7 2 0 2 9 8 1 2 7 9 4 6 1 3 1 5 8 1 2 8 8 4 7 1 4 2 4 0 5 2 4 4 4 4
 5 8 8 6 5 0 1 6 7 7 3 8 3 5 7 1 1 1 3 4 1 8 4 4 2 9 6 0 6 7 7 9 9 3 1 0 1
 0 4 4 1 1 2 2 6 2 0 8 1 4 0 6 0 1 6 2 5 8 6]
Accuracy is  0.1119186046511628

In [67]:
f1_score, percision, recall = F1_score(test_y, y_hat)

In [68]:
print(f1_score, percision, recall)

0.6968325791855203 0.5347222222222222 1.0